[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
interpreter_python = auto_silent
deprecation_warnings = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 60

[inventory]
enable_plugins = auto, amazon.aws_ec2, yaml, ini

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
